body {
    background-color: rgb(28, 28, 28);
}
h1 {
    color: rgb(200, 200, 200);
    text-align: center;
}

.container {
    padding: 10px 0px 10px 0px;
}

.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
}

.red {
    background: linear-gradient(red, pink, maroon);
    box-shadow: 0 0 20px 0 red;
}

.green {
    background: linear-gradient(green, lightgreen, olive);
    box-shadow: 0 0 20px 0 green;
}

.blue {
    background: linear-gradient(blue, lightblue, dodgerblue);
    box-shadow: 0 0 20px 0 blue;
}

.cap, .sleeve {
    display: inline-block;
}

.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 10px double rgba(0, 0, 0, 0.75);
}

.cap {
    width: 60px;
    height: 25px;
}
